*{
    margin:0 ;
padding: 0;
box-sizing: border-box;}

@font-face {
    font-family: "myfont";
    src: url(./myfont/Vazir.woff2);
}

img{
    max-width: 100%;
   height: auto;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-family:sans-serif ;
    font-family: "myfont";
}

.container{
    max-width: 90%;
}

.login_form{
    display: flex;
    flex-direction: column;
    background-color:#f8f9fa ;
    border-radius: 20px;
 overflow: hidden;
 min-height: 80vh;
}

.login_form_img img{
    object-fit: cover;
}

.login_form_right{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_form_right h1{
   margin-bottom: 2rem;
}

.login_form_right form input ,
 .login_form_right form button{
width: 100%;
margin-bottom: 1rem;
border: 2px solid #72767b;
padding: 0.6rem;
border-radius: 5px;
outline: none;
}
.login_form_right form input:focus{
    border: 2px solid  #6a6c6f;
    box-shadow: 0 0 2px 2px rgb(110, 111, 112,0.34);

}
.login_form_right form label{
color:#4c4e50;
font-size: 1.3rem;
}

.login_form_right form button{
   background-color:#fa1616;
   color:white;
   font-size: 1.3rem;
    margin-top:1rem ;
    padding: 0.7rem;
    border: none;
    cursor: pointer;
    transition:background 0.2s ease;
    }
    .login_form_right form button:hover{
        background-color:#d02525;
         }
     @media screen and (min-width:768px) {
        .login_form{
            display: flex;
            flex-direction: row;
            background-color:#f8f9fa ;
            border-radius: 20px;
         overflow: hidden;
        }
    }
    .checkbox{
        display: flex;
        flex-direction: row;
    }